:root{
    --light: rgb(124, 153, 179);
    --dark: rgb(67, 72, 77);
    --darkgreen: #12343b;
}
body{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}
header{
    background-color: var(--dark);
    display: flex;
    padding: 50px 10px 15px 0px;
    line-height: 50px;
    justify-content: space-between;
    width: auto;
    font-family: Impact, fantasy;
}
nav{
   padding-right: 50px;
}
h1{
    background-color: var(--light);
    color: var(--dark);
    font-size: 60px;
    padding-top: 5px;
    padding-left: 50px;
}
nav ul{
    display: flex;
    
}
nav ul li{
    margin: 5px 5px;
    border-bottom: 2px;
    border-color: var(--light);
    border-style: solid;
    font-size: 50px;
    padding: 0 5px 0 5px;
}
a{
    color:var(--light);
    text-decoration: none;
}

figure {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/frame.png");
    background-size:cover;
    background-position: center;
}

main{
    background-color: rgb(188, 211, 231);
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 0;
}

figure p{
    color: black;

    background-color: var(--light);
    width:fit-content;
    height: fit-content;  
    margin: 0 180px 20px 0;
    padding: 10px;
    font-size: 40px;
    font-weight: 1000;
}
figure img{
    border-radius: 50%;
    height: 140px;
    width: 100px;
    margin: 0 350px 10px 0;
    border: solid 5px var(--light);
    flex: 0 5;
}

main{
    background-color: rgba(234, 247, 245, 0.911);
    color:#12343b;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
}

.Container{
    display: flex;
    padding: 20px;
    width: 100%;
}

.Label{
    margin-left:50px;
    font-size: 50px;
    padding-right:10px;
    border-right: 5px solid var(--darkgreen);
    text-align: right;
    width: 20%;
    height: auto;
    margin-right: 50px;
    
}

/* #idlabel{
    
} */

.Container .info{
    /* padding-left: 30px; */
    font-size: 30px;
    color: var(--darkgreen);
    width: 80%;

}

#first-app{
    width: 90%;
    height:auto; 
}

.apps{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#apps a .app {
    width: 45%; 
    height:auto;
    margin: 10px 0 0 0;   
}

/* #app1{
   
}

#app2{
     
}
#app3{
   
}
#app4{
   
} */

#Contact-Me{
    background-color: rgba(234, 247, 245, 0.911);
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    nav ul, header, section{
        flex-direction: column;
    }
    figure img{
        display: none;
    }
    .Container{
        justify-content:center ;
    }
    .Container .Label{
        margin-left: 0;
        text-align: center;
        border: 5px solid var(--darkgreen);
        margin-bottom: 10px;
        width: auto;
    }
    .Container .info{
        font-size: 20px;
    }

}
