:root{
    --light: rgb(124, 153, 179);
    --dark: rgb(67, 72, 77);
    --darkgreen: #12343b;
}
body{
    display: flex;
    flex-direction: column;
    width: auto;
}
header{
    background-color: var(--dark);
    display: flex;
    padding: 50px 10px 15px 0px;
    line-height: 50px;
    justify-content: space-between;
    width: auto;
    font-family: Impact, fantasy;
}
nav{
   padding-right: 50px;
}
h1{
    background-color: var(--light);
    color: var(--dark);
    font-size: 60px;
    padding-top: 5px;
    padding-left: 50px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    
}
nav ul li{
    margin: 5px 5px;
    border-bottom: 2px;
    border-color: var(--light);
    border-style: solid;
    font-size: 50px;
    padding: 0 5px 0 5px;
}
nav ul li a{
    color:var(--light);
    text-decoration: none;
}

figure {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/frame.jpg");
    background-size:cover;
    background-position: center;
}

main{
    background-color: rgb(188, 211, 231);
}

figure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

figure p{
    color: black;
    font-style: italic;
    padding: 5px;
    background-color: var(--light);
    width:fit-content;
    height: fit-content;  
    font-size: 40px;
    font-weight: 1000;
}
figure img{
    border-radius: 50%;
    height: 140px;
    width: 100px;
    border: solid 5px var(--light);
    flex: 0 5;
    margin-bottom: 5pxZa;
}

main{
    background-color: rgba(234, 247, 245, 0.911);
    color:#12343b;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
}

.Container{
    display: flex;
    width: auto;
    height: auto;
    padding: 20px;  
}

.Label{
    margin-left:50px;
    font-size: 50px;
    padding-right:10px;
    border-right: 5px solid var(--darkgreen);
    text-align: right;
    width: 20%;
    height: auto;
    margin-right: 50px;
    color: var(--darkgreen);
}


.Container .info{
    font-size: 30px;
    color: var(--darkgreen);
    width: 80%;

}

#About-me{
    margin-right: 50px;
    
}

.apps{
    display: flex;
    flex-wrap: wrap;
}

#first-app{
    width: 95%;
    height:600px; 
    border: 5px solid var(--darkgreen);
    border-radius: 50px;

}



#apps a .app {
    width: 46.75%; 
    height:300px;
    margin: 10px 10px 0 0;   
    border: 5px solid var(--darkgreen);
    border-radius: 50px;
}

#Contact-Me{
    background-color: rgba(234, 247, 245, 0.911);
    
}

#contacts{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact {
    color: black;
    font-size:30px;
    border-bottom: 5px solid var(--darkgreen);
    margin: 30px;
    padding-bottom: 20px;
    text-decoration: none;
}



@media screen and (max-width: 768px) {
    nav ul, header, section{
        flex-direction: column;
    }
    figure img{
        display: none;
    }
    .Container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .Container .Label{
        margin-left: 0;
        text-align: center;
        border: 5px solid var(--darkgreen);
        margin-bottom: 10px;
        width: 90%;
    }
    #Contact-Me{
        padding-left: 20px;
    }
    #contacts{
        align-items: center;
    }
    .Container .info{
        font-size: 20px;
    }
    #first-app, .app{
        width: 100%;
        height: auto;
    }

}
